@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
	--shadow-color: 214deg 100% 12%;
	--shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
		0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
		2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
		5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: #f3f5fc;
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

header {
	padding: 1% 2% 0 2%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

nav{
	width: auto;
	display: flex;
	justify-content: end;

}
.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto;
	list-style: none;
}
.navbar li{
	margin:  0 1rem;
}
.navbar li a,
h1 a{
	display:grid;
	place-items: center;
}
.navbar li a:hover,
h1 a:hover{
	filter: grayscale(0.75);
}

main{
	background-color: #f3f5fc;
	display: flex;
	justify-content: space-around;
	height: 100vh;
	width: 100%;
	flex-wrap: wrap;
}

.warning-active{
	position: fixed;
	top: 25%;
	left: 25%;
	font-size: 2.5rem;
	text-decoration: none;
	display: none;
	place-items: center;
	padding: 3% 1%;	
	width: 400px;
	height: 400px;
	background-color: #f3f5fc;
	background-image: url("../img/bg-21.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #0a3871;
	text-align: left;
	border-radius: 12px;
	z-index: 1;
	box-shadow: var(--shadow-elevation-medium);
}
.warning-active h5,
.warning-active p{
	text-align: center;
}

section {
	margin: 1% 0;
	height: auto;
	display: flex;
	min-width: 400px;
	flex-wrap: wrap;
	min-height: 40%;
}
.one {
	border-radius: 12px;
	width: 50%;
	box-shadow: var(--shadow-elevation-medium);
}

.two {
	justify-content: center;
	align-items: center;
	width: 25%;
	background-color: white;
	box-shadow: var(--shadow-elevation-medium);
	border-radius: 12px;

}
#textInput {
	font-family: 'Roboto', sans-serif;
	border: none;
	background-color: #f3f5fc;
	width: 100%;
	height: 100%;
	resize: none;
	font-size: 2rem;
	color: #0a3871;
	text-align: left;
	margin-bottom: 2%;
	padding: 5rem;
	border-radius: 12px;
	line-height: 2.5rem;
}
#textInput::placeholder {
	color: #0a3871;
	font-size: 2rem;
	text-align: left;
}

#textInput:focus {
	outline: none;
}

.box-request {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.box-response1 {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #0a3871;
}

.box-response1 > h3 {
	padding-top: 3%;
	text-align: center;
	font-size: 1.25rem;
}
.box-response1 > p {
	padding: 2%;
	text-align: center;
	font-size: 1.15rem;
}
.box-response2{
	height: 80%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#textOutput{	
	border: none;
	width: 100%;
	height: 100%;
	resize: none;
	font-size: 2rem;
	color: #0a3871;
	text-align: left;
	padding: 3rem 1rem;
	border-radius: 12px;
	line-height: 2.5rem;
}
#textOutput:focus{
	outline: none;
}
.text-error {
	display: flex;
	color: #495057;
}
.box-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2%;
	width: 100%;
	flex-wrap: wrap;
}
.box-buttons:first-child {
	justify-content: start;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15rem;
	height: 3rem;
	border-radius: 12px;
	border: none;
	background-color: #f3f5fc;
	box-shadow: var(--shadow-elevation-medium);
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	margin: 1%;
}
.div-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

button.encriptar {
	background-color: #0a3871;
	color: #d8dfe8;
}
button.desencriptar:hover {
	transition: all 0.1s ease-in-out;
	background-color: #d8dfe8;
	color: #0a3871;
}
button.encriptar:hover {
	transition: all 0.1s ease-in-out;
	background-color: #d8dfe8;
	color: #0a3871;
}
button:active {
	transform: scale(0.98);
}
.copiar{
	display: none;
}
.copiar:hover{
	transition: all 0.1s ease-in-out;
	background-color: #d8dfe8;
	color: #0a3871;
}
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 0.85rem;
}
footer a {
	text-decoration: none;
	color: #0a3871;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 1% 0;
}
footer a:hover {
	transition: all 0.1s ease-in-out;
	color: black;
}
footer a:active {
	transform: scale(0.98);
}
.ri-github-fill,
.ri-copyright-fill {
	font-size: 1.25rem;
	padding: 3px;
}
a img:active {
	transform: scale(0.98);
}
